		<div style="float:left">
				<a href="../index.html">Bello Buono e Saporito  <br>
							Le migliori ricette </a>
		  
		<div style="float:right">
			<ul class="nav">
				<li class="index"><a href="../index.html">Home</a></li>
				<li> <a href="../Primi piatti.html">Primi piatti</a> </li>
				<li> <a href="../Secondi piatti e contorni.html">Secondi e contorni</a> </li>
				<li> <a href="../Pane pizza e Focacce.html">Pane Pizze e Focacce</a></li>
				<li> <a href="../Dolci.html">Dolci</a> </li>
				<li> <a href="../Altro ancora.html">Altro ancora</a> </li>
				<li> <a href="../Contatti.html">Contatti</a></li>
			</ul>
		</div>	
