		<div id="logo">
				<a href="../index.html">
					<span class="name">Bello Buono e Saporito </span>
					<span class="desc">Le migliori ricette </span>
				</a>
		</div>
		<div id="menu">
			<ul class="nav">
			<li><a href="../index.html">Home</a></li>
			<li> <a href="../Primi piatti.html">Primi piatti</a> </li>
			<li> <a href="../Secondi piatti e contorni.html">Secondi e contorni</a> </li>
			<li> <a href="../Pane pizza e Focacce.html">Pane Pizze e Focacce</a></li>
			<li> <a href="../Dolci.html">Dolci</a> </li>
			<li> <a href="../Altro ancora.html">Altro ancora</a> </li>
			<li> <a href="../Contatti.html">Contatti</a></li>
</ul>
		</div>	
