
<!--<div id="logo">
				<a href="../index.html">
					<span class="name">Bello Buono e Saporito </span>
					<span class="desc">Le migliori ricette </span>
				</a>
		</div>
		<div id="menu" class="menu">
			<i class="fa fa-bars mobile"></i>
			<ul class="nav">
			<li class="home"><a href="../index.html">Home</a></li>
			<li class="ricette"> <a href="#">Ricette</a> </li>
			<li class="contatti"> <a href="../Contatti.html">Contatti</a></li>
</ul>
		</div>	


-->
<h1><a href="index.html">Bello Buono e Saporito</a></h1>
			<h2><a href="index.html">Le migliori ricette </a></h2>
		  
			<ul class="nav">
				<li ><a href="index.html">Home</a></li>
				<li> <a href="Primi piatti.html">Primi piatti</a> </li>
				<li> <a href="Secondi piatti e contorni.html">Secondi e contorni</a> </li>
				<li> <a href="Pane pizza e Focacce.html">Pane Pizze e Focacce</a></li>
				<li> <a href="Dolci.html">Dolci</a> </li>
				<li> <a href="Altro ancora.html">Altro ancora</a> </li>
				<li> <a href="Contatti.html">Contatti</a></li>
			</ul>
