
     
     
     <div ng-controller="ContactController">
     
          <div id="contattaci">
               <div>
                    <div class="intestazione_blocco2">
                           Ti piace il nostro sito? Ti interesserebbe averne
                           uno come il nostro, funzionale, innovativo e originale?
                           Vuoi un sito web che rispecchi al meglio la Tua attività, qualunque essa sia?
                           Allora contattaci!
                           Ti daremo tutte le info di cui hai bisogno!
                    </div>
                    <img src="src/img/divisore1.gif" width="540px" alt="">
                         <div class="intestazione_blocco">Scrivi al WebMaster</div>
                         <br><br>
                         <img src="src/img/divisore1.gif" width="540px" alt="">
                         <br><br>
                         
              
               </div>
          </div>
          <!--
          <form name="myForm" novalidate>
               <input type="text" ng-model="utente.nome"
                    name="nomeUtente" ng-maxlength="20" ng-required="true">
               <div ng-show="myForm.nomeUtente.$error.maxlength && prontaPerInvio">Il nome utente non può superare i 20 caratteri</div>
               <div ng-show="myForm.nomeUtente.$error.required && prontaPerInvio">Il nome utente è obbligatorio</div>
               <button type="submit" ng-click="invia(utente)">Invia</button>
          </form>
          -->
     </div>
     
